[Unit]
Description=play sound when battery is low
After=syslog.target

[Service]
Type=simple
User=mario
Group=users
ExecStart=/usr/local/bin/low-battery

[Install]
WantedBy=multi-user.target
